<a href="https://colab.research.google.com/github/r-doz/PML2025/blob/main/./02_numpy_pandas_sklearn/022_pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
path_csv = 'https://raw.githubusercontent.com/DavideScassola/data_analysis_laboratory/main/notebooks/dati/reviews.csv'
reviews = pd.read_csv(path_csv)
reviews

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
...,...,...,...,...,...,...,...,...,...,...
18620,Good,Tokyo Mirage Sessions #FE,/games/fire-emblem-x-shin-megami-tensei/wii-u-...,Wii U,7.6,RPG,N,2016,6,29
18621,Amazing,LEGO Star Wars: The Force Awakens,/games/lego-star-wars-the-force-awakens/ps4-20...,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29
18622,Mediocre,Star Ocean: Integrity and Faithlessness,/games/star-ocean-5/ps4-20035681,PlayStation 4,5.8,RPG,N,2016,6,28
18623,Masterpiece,Inside,/games/inside-playdead/xbox-one-121435,Xbox One,10.0,Adventure,Y,2016,6,28
18624,Masterpiece,Inside,/games/inside-playdead/pc-20055740,PC,10.0,Adventure,Y,2016,6,28

1. Find the video game with the lowest score

In [15]:
lower = min(reviews["score"])
rev = reviews[reviews["score"] == lower]
rev[["title", "score"]]

                                        title  score
5242  Looney Tunes: Back in Action: Zany Race    0.5

2. Find the video game of genre 'Shooter' with the highest score

In [19]:
gen_shooter = reviews[reviews["genre"] == "Shooter"]
max_score = max(gen_shooter["score"])
rev = gen_shooter[gen_shooter["score"] == max_score]
rev[["title", "score"]]

                                     title  score
200                                 Halo 4    9.8
201               Halo 4 (Limited Edition)    9.8
2179                          Perfect Dark    9.8
6295  Halo 2 (Limited Collector's Edition)    9.8
6298                                Halo 2    9.8
6359     Halo 4 (Game of the Year Edition)    9.8

3. Find the oldest video game

In [24]:
min_yers = min(reviews["release_year"])
oldest_game = reviews[reviews["release_year"] == min_yers]
oldest_game[["title", "release_year"]]

                                                 title  release_year
516  The Walking Dead: The Game -- Episode 1: A New...          1970

4. How many PC video games were rated higher than 9 in 2005? Tip: apply the `len()` function to get the number of rows in a DataFrame

In [39]:
selezionati = reviews[(reviews["platform"] == "PC") & (reviews["release_year"] == 2005) & (reviews["score"] > 9.0)]
len(selezionati)
selezionati[["title"]]

                                        title
6567                         NASCAR SimRacing
6640        Brothers in Arms: Road to Hill 30
6720  Tom Clancy's Splinter Cell Chaos Theory
6860            Grand Theft Auto: San Andreas
7213                                 F.E.A.R.
7304              Sid Meier's Civilization IV

5. Find the newest video game. Tip: You can sort the rows of a DataFrame by the value of a column (or more) with the `.sort_values` method.

In [57]:
max_yers = max(reviews["release_year"])
newest_game = reviews[reviews["release_year"] == max_yers]
max_month = max(newest_game["release_month"])
newest_game = reviews[(reviews["release_year"] == max_yers) & (reviews["release_month"] == max_month)]
max_day = max(newest_game["release_day"])
newest_game = reviews[(reviews["release_year"] == max_yers) & (reviews["release_month"] == max_month) & (reviews["release_day"] == max_day)]
newest_game[["title", "release_year", "release_month", "release_day"]]


#reviews["release_year"].sort_values(ascending=False).head(10)
# newest_data = max(reviews["release_year"])
# reviews[reviews["release_year"] == newest_data]

                        title  release_year  release_month  release_day
18450                Virginia          2016              9           22
18451  Mount & Blade: Warband          2016              9           22
18452                 FIFA 17          2016              9           22
18453                 FIFA 17          2016              9           22
18454                NBA 2K17          2016              9           22

6. As you noticed the dataset has both a score column and a score_phrase column (the grade). Can you find what grade (score_phrase) each score corresponds to? In other words, what are the score thresholds for moving from one grade to the next? Tip: You can use the `.unique()` method to find the unique values of a set

In [63]:
len(reviews["title"].unique())

12589

7. Load the dataset from the .csv located at the following path (on colab): `sample_data/california_housing_train.csv`

In [64]:
path_csv = "sample_data/california_housing_train.csv"
reviews = pd.read_csv(path_csv)
reviews

FileNotFoundError: [Errno 2] No such file or directory: 'sample_data/california_housing_train.csv'

8. Show a histogram of the `median_house_value` variable.

9. Show a plot (scatterplot) of the variable 'population' (x-axis) versus the variable 'total_rooms' (y-axis).
Tip: You can use matplotlib's 'scatter' method: it works similarly to 'plot' but does not join the points with a line by default.

10. How many inhabitants per house are there?

11. This dataset contains the geographic coordinates of each neighborhood, can you show in a graph the location of each neighborhood? (as if it were a map)

12. Show as before the location of each neighborhood, but this time neighborhoods with less than 5000 inhabitants should be rapresented in a different color than neighborhoods with more than 5000 inhabitants.
Tip: If you call a matplotlib graphing function (such as ply.plot or plt.scatter) more than once, the two graphs will be overlapped

13. Color the points according to the value of the `median_house_value` variable.
Tip: use the `c` parameter of the scatter function